<div class="container">
  <mat-card-title>
    Posts 
    <a mat-button [routerLink]="['/add-post']">
      <mat-icon>add_circle</mat-icon>
    </a>
  </mat-card-title>
  
  <div class="example-container">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="O que você deseja buscar?" formControlName="buscar">
    
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getPaginate()"><mat-icon>search</mat-icon></button>
    </form>
  </div>



<table mat-table [dataSource]="posts" class="mat-elevation-z8">

 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let post"> {{post.id}} </td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let post"> {{post.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let post"> {{post.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="imagem">
    <th mat-header-cell *matHeaderCellDef> Imagem </th>
    <td mat-cell *matCellDef="let post"><img [src]="post.imagem" width="200px"></td>
  </ng-container>

  <ng-container matColumnDef="btn">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let post"> 
      <section>
        
        <div class="example-button-row">
          <button mat-button color="warn">Excluir</button>
          <button mat-button color="primary">Alterar</button>
          <button mat-button (click)="goToDetails(post)">Detalhes</button>
        </div>
      </section>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  <ul class="pagination">
    <li class="page-item {{link.active==true?'active':''}}" *ngFor="let link of links"><button class="page-link" [disabled]="link.active" (click)="getPaginate(link.url)">{{link.label}}</button></li>
  </ul>

</div>