<div class="container">
    <mat-card-title>
      Posts Adicionar <a mat-button [routerLink]="['/list-posts']"><mat-icon>arrow_back</mat-icon></a>
    </mat-card-title>
    
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput placeholder="Título" formControlName="titulo">
            <mat-error *ngIf="!this.form.get('titulo')?.valid">campo obrigatório</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
            <mat-error *ngIf="!this.form.get('descricao')?.valid">campo obrigatório</mat-error>
        </mat-form-field>

        <mat-label>Imagem</mat-label>
        <input type="file" (change)="inputFileChange($event)">
        <button mat-raised-button color="primary" [disabled]="!this.form.valid" (click)="add()">Salvar</button>
    </form>

</div>